<html>

<head>
    <link rel=stylesheet type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Dublin Bikes Info</title>
</head>

<body>

    <div id="header">
        <h1>Real-time Dublin Bike Information</h1>
        <img src = "https://vignette.wikia.nocookie.net/logopedia/images/7/74/Dublinbikes.svg/revision/latest?cb=20140625224430" style = "width:100px;height:55px;position:absolute;right:20%;top:0px;">
    </div>

    <div style="background-color: rgba(255,255,255,0.7);width:1000px;height: 100%; margin: auto;">
        <div id="googleMap"></div>
        <div id="dailyDiv"></div>
        <div id = "extraInfo"></div>
        <div id = "buttons" style = "text-align: center;"></div>
        <div id = "testingjs"></div>
        <div id="chart_div" style = "position:static;bottom:5px;"></div>
        <div id = "weatherdata">
        </div>
    </div>
    
    
    
    <script type=text/javascript>
    	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script>infoArray = [];</script>

   <script>
       function addButtons(stat_id){
           buttons = "<b>Average Occupancy: </b><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 1)\">Monday</button><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 2)\">Tuesday</button><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 3)\">Wednesday</button><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 4)\">Thursday</button><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 5)\">Friday</button><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 6)\">Saturday</button><button type=\"button\" onclick = \"getDataframe(" + stat_id + ", 0)\">Sunday</button>";
           document.getElementById("buttons").innerHTML = buttons
       }
       function testarray(stat_id, dat) {
           var jqxhr = $.getJSON($SCRIPT_ROOT + "/historicalInfo/" + stat_id + "/" + dat, function(dataf) {
               console.log("hello") 
//               var dope = dataf.slice(5,48);
//               var thing = JSON.parse(dope)
//               var bikes = thing.stands_available; 
               console.log(dataf) 
               document.getElementById("testingjs").innerHTML = dataf; 
            }); 
       }
                                 
    </script>
    <script>                     
       function myMap() {
           var jqxhr = $.getJSON($SCRIPT_ROOT + "/stations", function(data) {
                var stations = data.stations;

                //draw markers
                stations.forEach(function(stations) {
                    
                    var markerIcon = "/static/bikeicon.png";
                    var totalStands = stations.bikes_available + stations.stands_available;
                    if (stations.bikes_available == 0) {
                        markerIcon = "/static/bikeicon-black.png";
                    } else if (stations.bikes_available >= (totalStands / 3) && stations.bikes_available <= (2 * totalStands / 3)) {
                        markerIcon = "/static/bikeicon-orange.png";
                    } else if (stations.bikes_available < (totalStands / 3)) {
                        markerIcon = "/static/bikeicon-red.png";
                    }
                    
                    var marker = new google.maps.Marker({
                        position : {
                            lat : stations.latitude,
                            lng : stations.longitude
                        },
                    map : map,
                    title : stations.name,
                    station_number : stations.number,
                        icon : markerIcon,
                    });                

                    google.maps.event.addListener(marker, 'click', function() {
                       for (var i=0;i<infoArray.length;i++) {
                           infoArray[i].close();
                       }
                       var infowindow = new google.maps.InfoWindow();
                       infoArray.push(infowindow);

                        contentString = '<div id = "content"><h3>' + stations.name + '</h3></div>' + '<div id="station_availability"><h3>Bikes available: ' + stations.bikes_available + '<br> Stands available: ' + stations.stands_available + '</h3><button type="button" onclick = "getDataframe(' + stations.number + ',' + new Date().getDay() + ');addButtons('+ stations.number + ')">More Info</button></div>';
                        infowindow.setContent(contentString);
                        infowindow.open(map, marker);

                    });
                })
            })
           
           //Function to display the realtime weather for Dublin by querying the OpenWeatherAPI
           var jqweather = $.getJSON($SCRIPT_ROOT + "/weather", function(data) {
                var weatherInfo = data.weatherInfo;
                var actualTemp = weatherInfo.temp - 273.15; //turning kelvin temp to actual temp in degrees celsius
                var actualTemp_min = weatherInfo.temp_min - 273.15;
                var actualTemp_max = weatherInfo.temp_max - 273.15;
                actualTemp = (actualTemp).toFixed(1) //rounding to 1 decimal place
                var iconCode = weatherInfo.icon;
                var icon = "http://openweathermap.org/img/w/" + iconCode + ".png";
               
                document.getElementById("dailyDiv").innerHTML = "<h2>" + weatherInfo.date + "</h2><div id = \"icon\"><img src=" + icon +" style = \"float: left;margin-left: 15px;\">" + weatherInfo.main +"</div><div id = \"temp\"><em>" + actualTemp + "°C</em><br/><b>Min: </b>" + actualTemp_min + "°C<br/><b>Max: </b>" + actualTemp_max + "°C</div><br/><br/><br/><div id = \"line\"></div><div id = \"k\"><img src=\"/static/bikeicon.png\" class = \"keys\">: High<img src=\"/static/bikeicon-orange.png\" class = \"keys\">: Medium<br/><img src=\"/static/bikeicon-red.png\" class = \"keys\">: Low<img src=\"/static/bikeicon-black.png\" class = \"keys\">: None</div>";
                    
            })

           var myLatLng = {
               lat: 53.349976,
               lng: -6.260354
           };
           var mapProp = {
               center: new google.maps.LatLng(53.349976, -6.260354),
               zoom: 13,
           };
           var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
       }
       google.maps.event.addDomListener(window, 'load', myMap);
   </script>
    
    
    
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script>
        function getDataframe(num,day) {
            google.charts.load('current', {packages: ['corechart', 'line']});
            google.charts.setOnLoadCallback(drawBasic);
            var numb = num;
            console.log(day)
            var d;
            switch (day) {
                case 0:
                    d = '2018-04-08';
                    d_name = "Sunday"
                    break;
                case 1:
                    d = '2018-04-09';
                    d_name = "Monday"
                    break;
                case 2:
                    d = '2018-04-10';
                    d_name = "Tuesday"
                    break;
                case 3:
                    d = '2018-04-11';
                    d_name = "Wednesday"
                    break;
                case 4:
                    d = '2018-04-12';
                    d_name = "Thursday"
                    break;
                case 5:
                    d = '2018-04-13';
                    d_name = "Friday"
                    break;
                case  6:
                    d = '2018-04-14';
                    d_name = "Saturday"
            }
            console.log(d)
            extra = "<p>EXTRA INFO<br/>Station ID: " + numb + "<br/>Day: " + d_name + "</p>";
            document.getElementById("extraInfo").innerHTML = extra;
            function drawBasic() {
                var jqxhr = $.getJSON($SCRIPT_ROOT + "/dataframe/" + numb + "/" + d, function(dataf) {
                var dailyInfo = JSON.parse(dataf);
                var array = $.map(dailyInfo, function(value, index) {return [value];});
                var info = "";
                var a = [];
                    
                for (var i=0; i < array.length; i++) {
                    var bikes = array[i].bikes_available;
                    var t = array[i].time;
//                    var date = new Date(t*1000);
//                    var hours = date.getHours();
//                    var minutes = "0" + date.getMinutes();
//                    var seconds = "0" + date.getSeconds();
//                    var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
                    b = [t, bikes];
                    a.push(b);
                    info += "<p>bikes available = " + bikes + "</p><br/>";
                };
             
                    var data = new google.visualization.DataTable();
                    data.addColumn('number', 'X');
                    data.addColumn('number', 'BIkes');
                    data.addRows(a);

                    var options = {
                        hAxis: {
                            title: 'Time'
                        },
                        vAxis: {
                            title: 'Bikes Available'
                        },
                        crosshair: {
                        color: '#000',
                        trigger: 'selection'
                        }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                    });
            }
        }
            </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMns2Y33xj53IYHDDwQQb5P-R2mi5nxQk&callback=myMap"></script>
    
</body>

</html>